flutter/
htop/
iterm2/
mozilla/
raycast/
.DS_Store
yazi/flavors/*
yazi/plugins/*

.gsd-keyboard.settings-ported
Cypress/
JetBrains/
Slack/
Thunar/
cef_user_data/
chrome-remote-desktop/
configstore/
dconf/
enchant/
eog/
evince/
evolution/
gatsby/
gcloud/
gedit/
gnome-control-center/
gnome-initial-setup-done
go/
google-chrome/
google/
gtk-3.0/
guake/
ibus/
injections.scm
libreoffice/
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
pgcli/
please/
pulse/
systemd/
terminator/
totem/
user-dirs.dirs
user-dirs.locale
xfce4/
zed/
